<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django首页模板</title>
</head>
<body>
   

    {# 模板语法输出 #}

    {{ test_str }}
    
    {# 加法运算 通过调用内置过滤器来实现加法运算 #}

    {{ test_int | add:-10 }}

    {#  模板输出list #}
    {{ test_list }}
    {{ test_list.2 }}
    <br /><br />
    {% for item in test_list %}
        {{ item }}
        {# 打印索引 counter 从1开始的计数器 #}
        {{ forloop.counter }}
        {# 打印数组索引 #}
        {{ forloop.counter0 }}
        {#  倒序索引 #}
        {{ forloop.revcounter }}

        <br />
    {% endfor %}

    <br />
    {# 循环嵌套输出 #}
    {% for item in test_dict %}
            {# 取首位和末尾 #}


            姓名：{{ item.name | first }} {{ item.name | last }} &nbsp;  年龄:{{ item.age }}
    {% endfor %}

    

    <br />

    {# 大小写互转 #}
    {{ 'jack' | upper }}
    <br />
    {{ 'ROSE' | lower }}
    <br />
    {# 链式调用 #}
    {{ 'jack' | first | upper }}
    <br />
    {# 返回长度 #}
    {{ '123456' | length }}
    <br />
    {# 截断操作 #}
    截断字符操作{{ content | truncatechars:20 }}<br />
    截断单词操作{{ content | truncatewords:3 }}
    <br />
    {# 格式化日期 #}
    {{ dt | date:"Y-m-d H:i:s" }}


</body>
</html>