<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录页面</title>
</head>
<body>

    <form method="POST">


        <label>用户名:</label> <input name='username' type="text" /><br /><br />
        <label>密 码:</label> <input name="password" type="password"  /><br /><br />

        {# 利用clcik时间来刷新验证码 #}{# 通过样式来改变悬停时的图标 #}
        <img style="cursor:pointer;" src="/captcha" onclick='this.src=this.src+"?"+Math.random()'  />  
        <input name='code' type="text" />

        <br /><br />

        <input type="submit" value="提交登录" />


    </form>
    
</body>
</html>